<div align="center">

<h3>Instituto Tecnológico de Estudios Superiores de Monterrey CCM</h3>

<p><strong>Análisis de Ciencia de Datos</strong><br>
Grupo 242</p>

<p>Chiara Bombardieri Balanzá - A01659462<br>
Gerardo Javier López García - A016600262</p>

</div>

## OUR WORLD DATA TABLE

In [12]:
import pandas as pd
import requests

# Fetch the data.
df = pd.read_csv("https://ourworldindata.org/grapher/gdp-per-capita-worldbank.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Fetch the metadata
metadata = requests.get("https://ourworldindata.org/grapher/gdp-per-capita-worldbank.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

In [13]:
df

           Entity Code  Year  ny_gdp_pcap_pp_kd
0     Afghanistan  AFG  2000          1617.8264
1     Afghanistan  AFG  2001          1454.1108
2     Afghanistan  AFG  2002          1774.3087
3     Afghanistan  AFG  2003          1815.9282
4     Afghanistan  AFG  2004          1776.9182
...           ...  ...   ...                ...
7058     Zimbabwe  ZWE  2019          3294.8062
7059     Zimbabwe  ZWE  2020          2987.2698
7060     Zimbabwe  ZWE  2021          3184.7854
7061     Zimbabwe  ZWE  2022          3323.1218
7062     Zimbabwe  ZWE  2023          3442.2512

[7063 rows x 4 columns]

<div align="center">

<h1>GDP ACTIVITY</h1>

</div>

In [14]:
import pandas as pd
ruta_archivo = r"C:\Users\gatob\Downloads\gdp_archivo.csv"

df = pd.read_csv(ruta_archivo)

df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,...,OBS_VALUE,Observation Value,OBS_STATUS,Observation Status,UNIT_MEASURE,Unit of Measures,UNIT_MULT,Multiplier,BASE_PER,Base reference period
0,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,...,2.3,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
1,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,...,2.4,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
2,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,...,3.8,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
3,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CZE,Czechia,JE_LMIS,Labour market insecurity,L,Value,...,2.3,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
4,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,DNK,Denmark,JE_LMIS,Labour market insecurity,L,Value,...,4.5,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CRI,Costa Rica,HS_LEB,Life expectancy,L,Value,...,77.9,NaN,A,NaN,YR,Years,0,Units,NaN,NaN
2365,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CRI,Costa Rica,HS_LEB,Life expectancy,L,Value,...,83.0,NaN,A,NaN,YR,Years,0,Units,NaN,NaN
2366,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CRI,Costa Rica,PS_REPH,Homicide rate,L,Value,...,10.0,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN
2367,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CRI,Costa Rica,PS_REPH,Homicide rate,L,Value,...,18.2,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN
2368,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CRI,Costa Rica,PS_REPH,Homicide rate,L,Value,...,1.8,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN

# HOUSING

In [35]:
housing = ['Country',  'Indicator', 'MEASURE', 'Measure', 'INEQUALITY',
           'Inequality', 'OBS_VALUE', 'Observation Value', 'OBS_STATUS',
           'Observation Status', 'UNIT_MEASURE', 'Unit of Measures', 'UNIT_MULT',
           'Multiplier', 'BASE_PER', 'Base reference period']

housing_indicators = [
    "Housing expenditure",
    "Dwellings without basic facilities",
    "Rooms per person"
]

# Filtrado combinado: filas y columnas
housing_filter = df[df["Indicator"].isin(housing_indicators)][housing]

# Mostrar el resultado
housing_filter

,Country,Indicator,MEASURE,Measure,INEQUALITY,Inequality,OBS_VALUE,Observation Value,OBS_STATUS,Observation Status,UNIT_MEASURE,Unit of Measures,UNIT_MULT,Multiplier,BASE_PER,Base reference period
34,Austria,Dwellings without basic facilities,L,Value,TOT,NaN,0.8,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
35,Belgium,Dwellings without basic facilities,L,Value,TOT,NaN,0.7,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
37,Czechia,Dwellings without basic facilities,L,Value,TOT,NaN,0.5,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
38,Denmark,Dwellings without basic facilities,L,Value,TOT,NaN,0.5,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
39,Finland,Dwellings without basic facilities,L,Value,TOT,NaN,0.4,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1779,Slovenia,Rooms per person,L,Value,TOT,NaN,1.6,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN
1843,OECD - Total,Rooms per person,L,Value,TOT,NaN,1.7,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN
2335,Colombia,Rooms per person,L,Value,TOT,NaN,1.0,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN
2336,Lithuania,Rooms per person,L,Value,TOT,NaN,1.5,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN
2360,Costa Rica,Rooms per person,L,Value,TOT,NaN,1.2,NaN,A,NaN,RATIO,Ratio,0,Units,NaN,NaN

In [ ]:
#Creamos una tabla  con solo los indices de "Housing"
housing_pivot = housing_filter.pivot(index='Country', columns='Indicator', values='OBS_VALUE')

#Colocamos  los paises de mayor a menor
housing_pivot_sorted = housing_pivot.sort_values(by="Housing expenditure", ascending=False)
housing_pivot_sorted

Indicator,Dwellings without basic facilities,Housing expenditure,Rooms per person
Country,,,
Slovak Republic,1.5,27.4,1.1
New Zealand,NaN,25.0,2.4
Czechia,0.5,23.4,1.5
Denmark,0.5,23.3,1.9
United Kingdom,0.5,23.2,2.0
Finland,0.4,23.1,1.9
Canada,0.2,22.9,2.6
Italy,0.6,22.5,1.4
Greece,0.4,21.8,1.2
Japan,6.4,21.8,1.9
Spain,0.3,21.7,1.9
Switzerland,0.0,21.4,1.9
Poland,2.3,21.2,1.1
Austria,0.8,20.8,1.6
Latvia,11.2,20.8,1.2
France,0.5,20.7,1.8
Luxembourg,0.1,20.7,2.0
Ireland,0.2,20.6,2.1
OECD - Total,3.0,20.5,1.7
Sweden,0.0,20.1,1.7
Germany,0.1,20.0,1.8
Belgium,0.7,20.0,2.1
Hungary,3.5,19.9,1.4
Netherlands,0.1,19.6,2.0
Portugal,0.9,19.6,1.7
Australia,NaN,19.4,NaN
Türkiye,4.9,18.9,1.0
Chile,9.4,18.4,1.9
Lithuania,11.8,18.4,1.5
United States,0.1,18.3,2.4
Slovenia,0.2,18.2,1.6
South Africa,35.9,18.1,NaN
Mexico,25.9,17.8,1.1
Norway,0.0,17.7,2.1
Russia,13.8,17.4,1.0
Costa Rica,2.3,17.0,1.2
Estonia,5.7,17.0,1.7
Korea,2.5,14.7,1.5
Brazil,6.7,NaN,NaN
Colombia,12.3,NaN,1.0
Iceland,0.0,NaN,1.6
Israel,NaN,NaN,1.2

In [50]:
housing_pivot = housing_filter.pivot(index='Country', columns='Indicator', values='OBS_VALUE')

# Normalización Min-Max
housing_normalized = (housing_pivot - housing_pivot.min()) / (housing_pivot.max() - housing_pivot.min())

housing_normalized_sorted= housing_normalized.sort_values(by="Housing expenditure", ascending=False)
housing_normalized_sorted

Indicator,Dwellings without basic facilities,Housing expenditure,Rooms per person
Country,,,
Slovak Republic,0.041783,1.000000,0.0625
New Zealand,NaN,0.811024,0.8750
Czechia,0.013928,0.685039,0.3125
Denmark,0.013928,0.677165,0.5625
United Kingdom,0.013928,0.669291,0.6250
Finland,0.011142,0.661417,0.5625
Canada,0.005571,0.645669,1.0000
Italy,0.016713,0.614173,0.2500
Greece,0.011142,0.559055,0.1250
Japan,0.178273,0.559055,0.5625
Spain,0.008357,0.551181,0.5625
Switzerland,0.000000,0.527559,0.5625
Poland,0.064067,0.511811,0.0625
Austria,0.022284,0.480315,0.3750
Latvia,0.311978,0.480315,0.1250
France,0.013928,0.472441,0.5000
Luxembourg,0.002786,0.472441,0.6250
Ireland,0.005571,0.464567,0.6875
OECD - Total,0.083565,0.456693,0.4375
Sweden,0.000000,0.425197,0.4375
Germany,0.002786,0.417323,0.5000
Belgium,0.019499,0.417323,0.6875
Hungary,0.097493,0.409449,0.2500
Netherlands,0.002786,0.385827,0.6250
Portugal,0.025070,0.385827,0.4375
Australia,NaN,0.370079,NaN
Türkiye,0.136490,0.330709,0.0000
Chile,0.261838,0.291339,0.5625
Lithuania,0.328691,0.291339,0.3125
United States,0.002786,0.283465,0.8750
Slovenia,0.005571,0.275591,0.3750
South Africa,1.000000,0.267717,NaN
Mexico,0.721448,0.244094,0.0625
Norway,0.000000,0.236220,0.6875
Russia,0.384401,0.212598,0.0000
Costa Rica,0.064067,0.181102,0.1250
Estonia,0.158774,0.181102,0.4375
Korea,0.069638,0.000000,0.3125
Brazil,0.186630,NaN,NaN
Colombia,0.342618,NaN,0.0000
Iceland,0.000000,NaN,0.3750
Israel,NaN,NaN,0.1250

In [52]:

# Indicadores positivos y negativos
positive_indicators = ["Housing expenditure", "Rooms per person"]
negative_indicators = ["Dwellings without basic facilities"]

#Función para ajustar valores sumando o restando 1
def adjust_value(row, indicator):
    val = row[indicator]
    if indicator in positive_indicators:
        return val + 1  # suma 1 si es positivo
    elif indicator in negative_indicators:
        return val - 1  # resta 1 si es negativo
    else:
        return val  # sin cambio si no está definido

# Aplicar función a todo el DataFrame normalizado
adjusted = housing_normalized.apply(
    lambda row: [adjust_value(row, ind) for ind in housing_normalized.columns],
    axis=1,
    result_type='expand'
)

adjusted.columns = housing_normalized.columns
adjusted.index = housing_normalized.index

# Mostrar tabla ajustada
adjusted_sorted= adjusted.sort_values(by="Housing expenditure", ascending=False)
adjusted_sorted

Indicator,Dwellings without basic facilities,Housing expenditure,Rooms per person
Country,,,
Slovak Republic,-0.958217,2.000000,1.0625
New Zealand,NaN,1.811024,1.8750
Czechia,-0.986072,1.685039,1.3125
Denmark,-0.986072,1.677165,1.5625
United Kingdom,-0.986072,1.669291,1.6250
Finland,-0.988858,1.661417,1.5625
Canada,-0.994429,1.645669,2.0000
Italy,-0.983287,1.614173,1.2500
Greece,-0.988858,1.559055,1.1250
Japan,-0.821727,1.559055,1.5625
Spain,-0.991643,1.551181,1.5625
Switzerland,-1.000000,1.527559,1.5625
Poland,-0.935933,1.511811,1.0625
Austria,-0.977716,1.480315,1.3750
Latvia,-0.688022,1.480315,1.1250
France,-0.986072,1.472441,1.5000
Luxembourg,-0.997214,1.472441,1.6250
Ireland,-0.994429,1.464567,1.6875
OECD - Total,-0.916435,1.456693,1.4375
Sweden,-1.000000,1.425197,1.4375
Germany,-0.997214,1.417323,1.5000
Belgium,-0.980501,1.417323,1.6875
Hungary,-0.902507,1.409449,1.2500
Netherlands,-0.997214,1.385827,1.6250
Portugal,-0.974930,1.385827,1.4375
Australia,NaN,1.370079,NaN
Türkiye,-0.863510,1.330709,1.0000
Chile,-0.738162,1.291339,1.5625
Lithuania,-0.671309,1.291339,1.3125
United States,-0.997214,1.283465,1.8750
Slovenia,-0.994429,1.275591,1.3750
South Africa,0.000000,1.267717,NaN
Mexico,-0.278552,1.244094,1.0625
Norway,-1.000000,1.236220,1.6875
Russia,-0.615599,1.212598,1.0000
Costa Rica,-0.935933,1.181102,1.1250
Estonia,-0.841226,1.181102,1.4375
Korea,-0.930362,1.000000,1.3125
Brazil,-0.813370,NaN,NaN
Colombia,-0.657382,NaN,1.0000
Iceland,-1.000000,NaN,1.3750
Israel,NaN,NaN,1.1250

# INCOME
# JOBS
# COMMUNITY
# EDUCATION
# ENVIRONMENT
# CIVIC ENGAGEMENT
# HEALTH
# LIFE SATISFACTION
# SAFETY
# WORK - LIFE BALANCE